* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}


main {
    padding: 10rem 5% 2rem;
    display: inline-block;
    /* height: 2rem; */
    /* margin-top:25px; */
    /* background-color: red; */
}

.page_title {
    color: white;
    margin-bottom: 2%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

/**
* 1. Optional: 10px gutter
*/
.fld-grd {
    margin-right: -5px; /* [1] */
    margin-left: -5px; /* [1] */
    padding: 0 0 5px 0;
}

/**
* 1. Mandatory: `display: inline-block` or a flexbox based grid system do also work
* 2. Optional: 10px gutter
*/
.fld-grd > div {
    float: left; /* [1] */
    padding-right: 5px; /* [2] */
    padding-left: 5px; /* [2] */
    margin-bottom: 10px;
}

/**
* 1. Optional: Setting `vertical-align` removes the whitespace that appears below `<img>` elements
*    when they are dropped into a page as-is
*/
.fld-grd > div > img {
    vertical-align: top; /* [1] */
}













/* CONTACT PAGE */

.contact_page {
    padding: 10rem 5% 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  
  .name_title {
    margin-top: 15px;
    color: white;
    font-size: 48px;
  }
  
  .position_subtitle {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  
  .location {
    margin-top: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .link_mail {
    display: inline-block;
    outline: solid blueviolet 1px;
    outline-offset: 15px;
    border-radius: 25px;
    margin-top: 35px;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  
  .link_mail:hover {
    color: blueviolet;
  }
  
  .icon_box{
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
  }
  
  .icon_link {
    vertical-align: middle;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  
  .icon_link li a {
      padding: 3px;
  }